extends layout
block content
h1= title
form(id='electronicgadgetsForm', action="/resource/electronicgadgetss", method="POST")
div.form-group
label.electronicgadgetsAttr(for='electronicgadgets_type') electronicgadgets type
input#electronicgadgets_type(type='text', name='electronicgadgets_type')
div.form-group
label.electronicgadgetsAttr(for='size') electronicgadgets size
input#size(type='text', name='size')
div.form-group
label.electronicgadgetsAttr(for='cost') electronicgadgets cost
input#cost(type='number', name='cost')
input(type="submit")
script.
document.forms['electronicgadgetsForm'].addEventListener('submit', (event) => {
event.preventDefault();
// TODO do something here to show user that form is being submitted
fetch(event.target.action, {
method: 'POST',
body: new URLSearchParams(new FormData(event.target)) // event.target is the form
}).then((resp) => {
return resp.json(); // or resp.text() or whatever the server sends
}).then((body) => {
alert("Save succeded")
// TODO handle body
}).catch((error) => {
// TODO handle error
alert("Save failed " + error )
});
});